/***************************************/
/*                                     */
/*       Romet's PHP Contact Form      */
/*             Version 1.1             */
/*  http://codecanyon.net/user/Romet6  */
/*                                     */
/***************************************/
@import url(../../webfonts/Novecentosanswide_Normal/stylesheet.css);
.contactF-clear {
    clear           : both;
}
.contactF-hide {
    display         : none;
}
.sample {
    display         : block;
    width			: 240px;
    margin          : 20px auto;
}
.sample a {
    color           : black;
}
.sample a:hover {
    color           : #46edca;
}
#contactF {
    font            : "Novecentowide Normal";
    color           : #4d4d4d;
}
#contactF * {
    margin          : 0;
    padding         : 0;
    line-height     : 1.1;
}
#contactF p.contactF-margin {
	font-family: "Novecentowide Normal";
    margin          : 0px auto;
}
#contactF h1 {
    display         : block;
    width           : 570px;
    margin          : 0px auto;
    font            : 22px Novecentowide Normal;
    font-weight     : bold;
    text-align      : center;
    color           : #1a1a1a;
}
#contactF-alert {
    width           : 570px;
    height          : 20px;
    margin          : 0px auto 10px auto;
    padding-top     : 4px;
    text-align      : center;
    color           : #46edca;
    font            : 20px "Novecentowide Normal";
}
#contactF em {
    color           : #46edca;
}
#contactF-content form {
    display         : block;
    width           : 600px;
    margin          : 0px auto;
    padding         : 24px 10px 10px 10px;
    border          : solid 1px #bababa;
    border-radius   : 5px;
	height:: 590px;
}
#contactF-input {
    width           : 520px;
    border-top      : dotted 1px #bababa;
    padding-top     : 16px;
    margin          : 20px auto 0px auto;
}
#contactF-company {
    width           : 180px;
    float           : right;
    text-align      : center;
    padding-top     : 5px;
}
#contactF-company span {
    display         : block;
}
#contactF-details {
    display         : block;
    width           : 340px;
}
#contactF-details span {
    display         : block;
    width           : 110px;
    float           : left;
    padding-top     : 10px;
}
#contactF-input input {
    width           : 220px;
    height          : 20px;
    margin-top      : 6px;
    float           : right;
    background      : #f5f5f5;
}
#contactF input[type="text"] {
    border          : solid 1px #bababa;
    border-radius   : 3px;
}
#contactF input[type="submit"] {
    display         : block;
     cursor:pointer;
    width:40%;
	height:40px;
	margin-left:26%;
    border:none;
    color:#FFF;
	margin-top:10px;
	margin-bottom:15px;
	font-size:120%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
#contactF input[type="submit"]:hover {
    cursor          : pointer;
}
#contactF textarea {
    display         : block;
    margin          : 18px auto 0px auto;
    height          : 190px;
    width           : 520px;
    border          : solid 1px #bababa;
    border-radius   : 5px;
    background      : #f5f5f5;
}
#contactF-attachment {
	margin			: 10px auto 10px auto;
	padding-bottom	: 10px;
    width           : 520px;
    border-bottom   : dotted 1px #bababa;
    text-align		: center;
    font            : 16px "Novecentowide Normal";
}
#contactF-attachment span {
    font            : 12px "Novecentowide Normal";
}
#contactF-verification {
    height          : 40px;
    width           : 530px;
    margin          : 10px auto 10px auto;
}
#contactF-verification b {
    color           : #46edca;
}
#contactF-verification span {
    display         : block;
    float           : left;
    margin-top      : 8px;
    margin-right    : 10px;
}
#contactF-verification input[type=radio] {
    height          : 12px;
    width           : 12px;
    cursor          : pointer;
}
#contactF-verification:not(old) input[type=radio] {
    display         : none;
}
#contactF-verification label {
    height          : 20px; 
    width           : 20px;
    display         : inline-block;
    padding         : 0px;
    margin          : 0px;
    border          : 1px solid white;
}
#contactF-verification label img {
    pointer-events: none;
}
#contactF-verification:not(old) label {
    height          : 30px;
    width           : 30px;
}
#contactF-verification img {
    height          : 20px;
    width           : 20px;
}
#contactF-verification:not(old) img {
    height          : 30px;
    width           : 30px;
}
#contactF-verification:not(old) label:hover {
    cursor          : pointer;
}
#contactF-verification input[type=radio]:checked + label {
    border          : 1px solid #46edca;
    padding         : 0px;
}